{% extends "base.html" %}

{% block extra_title %} - Email Sent{% endblock %}

{% block content_heading %}
    <h1>Email Sent</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <hr>
                <p>We have sent you an email. If you have not received it please check your spam folder. Otherwise
                    <a href="{% url 'store_contact' %}">contact us</a> if you do not receive it in a few minutes.</p>
            </div>
        </div>
    </div>
{% endblock %}