{% extends "base.html" %}

{% block extra_title %} - Password Reset!{% endblock %}

{% block content_heading %}
    <h1>Password Reset!</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <hr>
                <p>Your password has been changed successfully!</p>
                <a href="{% url 'home' %}">Back to the home page</a>
            </div>
        </div>
    </div>
{% endblock %}