{% extends 'base.html' %}

{% block extra_title %} - Verification Needed{% endblock %}

{% block content_heading %}
    {% if user.is_authenticated %}
        <h1>Email Verified</h1>
    {% else %}
        <h1>Verify your Email</h1>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <hr>
                {% if user.is_authenticated %}
                    <p>Your account is already verified.</p>
                    <a href="{% url 'home' %}">Back to home page.</a>
                {% else %}
                    <p class="mb-4">We have sent an email to you to verify your account. Please <strong>check your emails</strong>, and follow the link provided
                        to finalise the process.
                    </p>
                    <ul>
                        <li class="mb-4">If you cannot find the email sent to you, please <strong>check your spam folder</strong>, or give it a few minutes
                            for the email to send</li>
                        <li>If you did not receive the email, please <a href="#" class="modal-trigger-login">request another</a>, or
                            <a href="{% url 'store_contact' %}">contact us</a> if the problem persists.</li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}