<div class="card">
    <div class="card-header px-2 px-md-3" id="message-heading-{{ message_type }}-{{ message.id }}">
        <div class="mb-0">
            <button class="btn-no-style btn-block text-left position-relative" type="button" data-toggle="collapse"
                data-target="#message-collapse-{{ message_type }}-{{ message.id }}" aria-expanded="true" aria-controls="message-collapse-{{ message_type }}-{{ message.id }}">
                <div class="d-flex flex-column flex-md-row justify-content-md-between">
                    <div>
                        <i class="fa-solid fa-caret-down mr-1 mr-md-3"></i>
                        {{ message }}
                        {% if message_type == 'unopen' %}
                            <span class="badge badge-danger pb-0">New</span>
                        {% endif %}
                    </div>
                    <span class="ml-2">{{ message.date_created|date:"d/m/y, G:i" }}</span>
                </div>
            </button>
        </div>
    </div>
    <div id="message-collapse-{{ message_type }}-{{ message.id }}"
        class="collapse collapse-{{ message_type }}" aria-labelledby="message-heading-{{ message_type }}-{{ message.id }}"
        data-parent="#message-list" data-message-id="{{ message.id }}">

        <div class="card-body">
            <div class="d-flex justify-content-between">
                {% if message.full_name %}
                <div class="mb-3">
                    <strong>Sender Name:</strong>
                    <br>
                    {{ message.full_name }}
                </div>
                {% else %}
                    <div class="mb-3">
                        <strong>Email:</strong>
                        <br>
                        {{ message.email }}
                    </div>
                {% endif %}
                {% if message_type == 'open' %}
                    <div class="text-right">
                        <a class="modal-trigger-delete-message text-danger" role="button"
                            data-url="{% url 'delete_message' message.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            {% if message.full_name %}
                <div class="mb-3">
                    <strong>Email:</strong>
                    <br>
                    {{ message.email }}
                </div>
            {% endif %}
            <hr>
            {{ message.message|linebreaks }}
        </div>
    </div>
</div>