{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}" type="text/css">
{% endblock %}

{% block content_heading %}
    <h1>Your Shopping Cart</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row mb">
            <div class="col-5 font-weight-bold">Product Informaton</div>
            <div class="col-3 font-weight-bold">Extras</div>
            <div class="col-2 font-weight-bold text-right">Quantity</div>
            <div class="col-2 font-weight-bold text-right">Subtotal</div>
        </div>
        <hr>
        {% for item in cart_products %}
        <div class="row cart-product">
            <div class="col-5 cart-product-info">
                <div class="cart-image mr-3">
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.display_name }}">
                </div>
                <div>
                    <div class="cart-item-name">{{ item.product.display_name }}</div>
                    <p class="small">{{ item.product.category.display_name }}</p>
                    <div>&euro;{{ item.price }} each</div>
                    {% if item.product.batch_size and item.product.batch_size > 1 %}
                        <span>
                            <i class="fa-solid fa-box"></i>
                            Pack of {{ item.product.batch_size }}
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="col-3"></div>
            <div class="col-2 text-right">{{ item.quantity }}</div>
            <div class="col-2 text-right">&euro;{{ item.subtotal }}</div>
            <div class="cart-product-options">
                <a href="" class="mr-4" aria-label="Edit this product">Edit</a>
                <span class="pseudo-anchor text-danger modal-trigger-remove-item"
                    aria-label="Remove this product from your cart" data-url="{% url 'remove_cart_item' forloop.counter0 %}">Remove</span>
            </div>
        </div>
        {% if not forloop.last %}
            <hr>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}