{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}" type="text/css">
{% endblock %}

{% block content_heading %}
    <h1>Your Shopping Cart</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row mb">
            <div class="col-5 font-weight-bold">Product Informaton</div>
            <div class="col-3 font-weight-bold">Properties</div>
            <div class="col-2 font-weight-bold text-right">Quantity</div>
            <div class="col-2 font-weight-bold text-right">Subtotal</div>
        </div>
        <hr>
        {% for item in cart_products %}
        <div class="row cart-product">
            <div class="col-5 cart-product-info">
                <div class="cart-image mr-3">
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.display_name }}">
                </div>
                <div>
                    <div class="cart-item-name">{{ item.product.display_name }}</div>
                    <p class="small">{{ item.product.category.display_name }}</p>
                    <div>&euro;{{ item.price }} each</div>
                    {% if item.product.batch_size and item.product.batch_size > 1 %}
                        <span>
                            <i class="fa-solid fa-box"></i>
                            Pack of {{ item.product.batch_size }}
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="col-3">
                {% if item.prop_list %}
                    <ul class="pl-2">
                        {% for prop in item.prop_list %}
                            {% if prop.value and prop.value != 'None' and prop.value != 'Plain' %}
                                <li>
                                    <span class="property-item">{% if prop.label %}{{ prop.label }}: {% endif %}
                                        {% if prop.name == 'color' %}
                                            <div class="d-inline-block cart-prop-color ml-2"
                                                data-back="{{ prop.value }}" data-border="{% shade_color prop.value 0.8 %}">
                                                <div class="color-overlay"></div>
                                            </div>
                                        {% else %}{{ prop.value }}
                                        {% endif %}
                                    </span>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-2 text-right">{{ item.quantity }}</div>
            <div class="col-2 text-right">&euro;{{ item.subtotal }}</div>
            <div class="cart-product-options">
                <a href="{% url 'edit_cart_item' forloop.counter0 %}" class="mr-4" aria-label="Edit this product">Edit</a>
                <span class="pseudo-anchor text-danger modal-trigger-remove-item"
                    aria-label="Remove this product from your cart" data-url="{% url 'remove_cart_item' forloop.counter0 %}">Remove</span>
            </div>
        </div>
        {% if not forloop.last %}
            <hr>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'cart/js/cart.js' %}"></script>
{% endblock %}