<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
    <a class="card-container d-flex align-items-center justify-content-center anchor-no-style"
        href="{% url 'product_detail' product.name %}" aria-label="Go to the {{ product.display_name }} product page">
        <div class="card">
            <div class="product-image">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.display_name }}">
                <div class="product-image-overlay"></div>
            </div>
            <div class="card-body px-2 py-0">
                <p class="product-card-title mb-0 contains-query thin">{{ product.display_name }}</p>
                <p class="product-card-category my-0">
                    <small class="d-flex align-items-center justify-content-between">
                        <span>{{ product.category }}</span>
                        {% if product.batch_size and product.batch_size > 1 %}
                            <span>
                                <i class="fa-solid fa-box"></i>
                                {{ product.batch_size }}
                            </span>
                        {% endif %}
                    </small>
                </p>
            </div>
            <div class="card-footer px-2 py-1 d-flex align-items-center justify-content-between">
                <small>
                    <i class="fa-{% if user.profile in product.favorites.all %}solid{% else %}regular{% endif %} fa-heart"></i>
                    {{ product.number_of_favorites }}
                </small>
                <strong>&euro;{{ product.price }}</strong>
            </div>
        </div>
    </a>
</div>