{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %} - My Account{% endblock %}

{% block content_heading %}
    <h1>Your Profile</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 col-xl-5 offset-md-1">
                <div id="contact-details" class="mb-5">
                    <h3>Contact Details</h3>
                    <div id="contact-info" {% if invalid_contact_details %} class="d-none"{% endif %}>
                        {% if has_contact_details %}
                            <ul class="mb-2">
                                {% for key, detail in contact_details.items %}
                                    {% if detail.value %}
                                        <li>
                                            <span class="font-weight-bold">{{ detail.label }}:</span>
                                            <span>{{ detail.value }}</span>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="mb-0">You do not have any contact details saved to this account.</p>
                        {% endif %}
                        <button type="button" class="btn btn-primary shadow-none click-to-show" data-show="#contact-form" data-hide="#contact-info">
                            {% if has_contact_details %}<i class="fa-solid fa-pen mr-2"></i>Edit
                            {% else %}<i class="fa-solid fa-plus mr-2"></i>Add
                            {% endif %}
                        </button>
                    </div>
                    <form method="POST" id="contact-form" class="mt-3{% if not invalid_contact_details %} d-none{% endif %}">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="contact" aria-hidden="true">
                        {{ contact_form|crispy }}
                        <button type="button" class="btn btn-secondary shadow-none click-to-show"
                            data-show="#contact-info" data-hide="#contact-form">Cancel</button>
                        <button type="submit" class="btn btn-primary shadow-none">Save</button>
                    </form>
                </div>
                <div id="billing-details" class="mb-5">
                    <h3>Billing Details</h3>
                    <div id="billing-info" {% if invalid_billing_details %} class="d-none"{% endif %}>
                        {% if has_billing_details %}
                            <ul class="mb-2">
                                {% for key, detail in billing_details.items %}
                                    {% if detail.value %}
                                        <li>
                                            <span class="font-weight-bold">{{ detail.label }}:</span>
                                            <span>{{ detail.value }}</span>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="mb-0">You do not have any billing details saved to this account.</p>
                        {% endif %}
                        <button type="button" class="btn btn-primary shadow-none click-to-show" data-show="#billing-form" data-hide="#billing-info">
                            {% if has_billing_details %}<i class="fa-solid fa-pen mr-2"></i>Edit
                            {% else %}<i class="fa-solid fa-plus mr-2"></i>Add
                            {% endif %}
                        </button>
                    </div>
                    <form method="POST" id="billing-form" class="mt-3{% if not invalid_billing_details %} d-none{% endif %}">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="billing" aria-hidden="true">
                        {{ billing_form|crispy }}
                        <button type="button" class="btn btn-secondary shadow-none click-to-show"
                            data-show="#billing-info" data-hide="#billing-form">Cancel</button>
                        <button type="submit" class="btn btn-primary shadow-none">Save</button>
                    </form>
                </div>
                <div id="order-history-medium"></div>
                {% if include_newsletter %}
                    <!-- Newsletter -->
                    <h3>Newsletter</h3>
                    {% if discount_codes %}
                        <p class="mb-0">Pending Discount Codes:</p>
                        <ul>
                            {% for code in discount_codes %}
                                <li>{{ code|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% if newsletter_active %}
                            <a href="{% url 'newsletter_unsubscribe' user.email %}">Unsubscribe from newsletter</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <hr class="my-5">
                <button type="button" class="btn btn-danger modal-trigger-delete-account">Delete Account</button>
            </div>
            <div id="order-history-large" class="d-none d-xl-block col-5">
                {% if orders %}
                    <div id="order-history">
                        <h3>Order History</h3>
                        <div class="list-group">
                            {% for order in orders %}
                                <div class="list-group-item p-0">
                                    <div class="card-header border-0 text-break">
                                        <a href="{% url 'order_details' order.order_number %}" class="d-block text-dark">{{ order }}</a>
                                        <small>Placed on: {{ order.order_date }}</small>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        const userEmail = "{{ request.user.email }}";
    </script>
    <script src="{% static 'profiles/js/profiles.js' %}" type="text/javascript"></script>
{% endblock %}