{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content_heading %}
    <h1>Checkout</h1>
{% endblock %}

{% block content %}
<form method="POST" id="checkout-form" class="container-fluid">
    {% csrf_token %}
    <input type="hidden" name="client_secret" value="{{ client_secret }}">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <h2>Please fill out your details below</h2>
            <hr>
            <h3>Contact Details</h3>
        </div>
        <div class="col-12 col-md-10 col-lg-8 col-xl-5 offset-md-1 mb-4">
            {{ contact_form|crispy }}
            <div class="mt-5">
                <h3>Billing Details</h3>
                {{ billing_form|crispy }}
            </div>
            {% if user.is_authenticated %}
                <div class="form-group form-check">
                    <input type="checkbox" id="save-info" name="save_info" class="form-check-input">
                    <label for="save-info">Save my information</label>
                </div>
            {% endif %}
            <div class="mt-5">
                <h3>Delivery Details</h3>
                <div class="form-group form-check mb-0">
                    <input type="checkbox" id="delivery" name="delivery" class="form-check-input">
                    <label for="delivery" class="mb-0">Deliver to me</label>
                </div>
                <p id="delivery-notice" class="small text-info font-weight-bold d-none">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span id="delivery-notice-content"></span>
                </p>
                <div id="delivery-options" class="d-none">
                    <div class="container-fluid px-0">
                        <div class="row">
                            <div class="col-5"><hr></div>
                            <div class="col-2 text-center">OR</div>
                            <div class="col-5"><hr></div>
                        </div>
                    </div>
                    <div class="form-group form-check mt-3">
                        <input type="checkbox" id="delivery-other-address" name="delivery_other_address" class="form-check-input">
                        <label for="delivery-other-address" class="mb-0">Deliver to another address</label>
                    </div>
                    <div id="delivery-form" class="collapse mt-4">
                        <div class="form-group">
                            <label for="delivery-line1">Address Line 1*</label>
                            <input type="text" id="delivery-line1" name="delivery_line1" class="form-control required" maxlength="60">
                        </div>
                        <div class="form-group">
                            <label for="delivery-line2">Address Line 2</label>
                            <input type="text" id="delivery-line2" name="delivery_line2" class="form-control" maxlength="60">
                        </div>
                        <div class="form-group">
                            <label for="delivery-city">Town/City*</label>
                            <input type="text" id="delivery-city" name="delivery_city" class="form-control required" maxlength="60">
                        </div>
                        <div class="form-group">
                            <label for="delivery-county">County*</label>
                            <select id="delivery-county" name="delivery_county" class="form-control required">
                                {% for county in county_options %}
                                    <option data-cost="{{ county.cost }}{% if county.cost %}0{% endif %}" value="{{ county.name }}">
                                        {{ county.name }}
                                        {% if county.cost %}(+&euro;{{ county.cost }}0)
                                        {% else %}(Delivery not available)
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                            <p id="delivery-other-notice" class="small text-info font-weight-bold d-none">
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <span id="delivery-other-content"></span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="delivery-city">Postal Code*</label>
                            <input type="text" id="delivery-postcode" name="delivery_postcode" class="form-control required" maxlength="60">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-12 col-md-10 col-lg-8 col-xl-5 offset-md-1 offset-xl-0">
            <div id="checkout-footer">
                <div class="form-group mb-5">
                    <label for="discount-code">Discount Code</label>
                    <div class="d-flex">
                        <input type="text" id="discount-code" class="form-control" maxlength="20">
                        <button type="button" id="apply-discount" class="btn btn-primary ml-2" disabled>Apply</button>
                    </div>
                    <p id="discount-code-feedback" class="d-none font-weight-bold text-danger small"></p>
                </div>
                <div class="text-xl-right">
                    <div class="mb-3">
                        <div>Cart Total: &euro;<span id="cart-total">{{ grand_total|floatformat:2 }}</span></div>
                        <div id="applied-discount" class="text-info d-none">Applied Discount: &euro;<span id="discount-value"></span></div>
                        <div>Delivery Charge: <span id="delivery-charge">N/A</span></div>
                    </div>
                    <div class="h3 mb-md-0 font-weight-bold">
                        You'll Pay: &euro;<span id="checkout-total">{{ grand_total|floatformat:2 }}</span>
                    </div>
                    <hr>
                    <a href="{% url 'cart' %}" class="btn btn-lg btn-nav">Back to cart</a>
                    <button type="submit" class="btn btn-primary btn-lg px-4">Pay</button>
                </div>
                
            </div>
        </div>
    </div>
</form>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}