{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content_heading %}
    <h1>Checkout</h1>
{% endblock %}

{% block content %}
<form method="POST" id="checkout-form" class="container-fluid">
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-10 col-lg-8 col-xl-5 offset-md-1 mb-4">
            <h2>Please fill out your details below</h2>
            <hr>
            {{ form|crispy }}
            {% if user.is_authenticated %}
                <div class="form-group form-check">
                    <input type="checkbox" id="save-info" name="save_info" class="form-check-input">
                    <label for="save-info">Save my information</label>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 col-lg-8 col-xl-5 offset-md-1">
            <div class="form-group mb-5">
                <label for="discount-code">Discount Code</label>
                <div class="d-flex">
                    <input type="text" id="discount-code" name="discount" class="form-control" maxlength="20">
                    <button type="button" class="btn btn-primary ml-2">Apply</button>
                </div>
            </div>
            <hr>
            <div class="d-block d-md-flex align-items-center justify-content-between">
                <div class="h4 mb-md-0">You'll Pay: &euro;
                    <span id="checkout-total">0.00</span>
                </div>
                <div>
                    <a href="{% url 'cart' %}" class="btn btn-lg btn-nav">Back to cart</a>
                    <button type="submit" class="btn btn-primary btn-lg px-4">Pay</button>
                </div>
            </div>
        </div>
    </div>
</form>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}