.cart-product {
    position: relative;
}

.cart-product-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.cart-item-name {
    font-size: 1.3em;
}

.cart-image {
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.cart-image>img {
    width: 100%;
}

.cart-product-options {
    position: absolute;
    bottom: 0;
    right: 15px;
}

.property-item {
    display: flex;
    align-items: center;
}

.cart-prop-color {
    height: 40px;
    aspect-ratio: 1/1;
    border: 2px solid;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.cart-color-overlay {
    position: absolute;
    bottom: 0;
    left: -30%;
    width: 160%;
    height: 150%;
    background: radial-gradient(circle, rgba(255,255,255,0.64) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 80%, rgba(0,0,0,0.6) 90%);
    border-radius: 50%;
}

/* -----------------------------------------------------------------------MEDIA QUERIES

/* --------------------------------------------------------Bootstrap's large breakpoint */
@media (max-width: 992px) {
    .cart-product-info {
        font-size: 0.8em;
    }
}