/* --------------------------------------------------------Base Template */
body {
    font-family: "Handlee", serif;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

/* Prevents the account nav from overlapping into the scrollbar */
header {
    position: relative;
}

h1,h2,h3,h4,h5,
.product-card-title {
    font-family: "Just Another Hand", cursive;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3, .product-card-title {
    font-size: 2rem;
}

#hero-image {
    background-image: url('/media/images/hero-image.webp');
    background-position-x: center;
    background-size: cover;
    height: 256px;
}

#main-body {
    background: whitesmoke;
}

#main-content {
    background-color: white;
    font-size: 1.2em;
}

/* --------------------------------------------------------Overriding Bootstrap elements */

/* Buttons */
.btn.btn-primary {
    background-color: #784812;
    border-color: #8f5715;
}

.btn.btn-primary:hover {
    background-color: #8f5a1d;
}

.btn.btn-primary:not(disabled):not(.disabled):active,
.btn.btn-primary:not(disabled):not(.disabled):focus {
    background-color: #5e3609;
    border-color: #8f5715;
}

.btn.btn-nav {
    background-color: #3c3a3b;
    border-color: #363333;
    color: whitesmoke;
}

.btn.btn-nav:hover {
    background-color: #635f5e;
}

.btn.btn-nav:not(disabled):not(.disabled):active,
.btn.btn-nav:not(disabled):not(.disabled):focus {
    background-color: #363333;
    border-color: #3c3a3b;
}

/* Allowing disabled text to be shown as normal text. Mostly used to disable hover actions */
.disabled.text-default {
    color: #212529;
}

/* Dropdown Selection */
.dropdown-item:active {
    background-color: #3c3a3b;
}

.dropdown-item:focus {
    background-color: #635f5e;
    color: whitesmoke;
}

.anchor-no-style,
.anchor-no-style:hover {
    color: inherit;
    text-decoration: inherit;
}

/* Form error messages */

.modal-feedback.invalid-feedback {
    color: #e2a08d;
}

/* --------------------------------------------------------Navigation */

#navbar {
    background: url('/media/images/navbar-back-test.png'), #3c3a3b;
    background-position: top center;
    display: grid;
    grid-template-columns: 8fr 4fr 3fr 5fr 4fr auto;
    min-height: 32px;
}

#logo-container {
    position: relative;
}

#logo-brand {
    width: 15vw;
    aspect-ratio: 1/1;
    background: url('/media/images/bakery-logo.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: calc(50% - 7.5vw);
    right: 15%;
    z-index: 2;
}

.nav-link>a,
.nav-link>button {
    color: whitesmoke;
    font-family: "Delicious Handrawn", cursive;
}

.nav-link>a {
    font-size: 1.6rem;
}

.nav-link>button {
    font-size: 1.3rem;
    padding: 2px 6px;
}

.nav-link>a:hover,
.nav-link>button:hover,
#footer-content a:hover {
    font-style: italic;
    text-decoration: underline;
    color: #DDDDDD;
}

#search-collapse {
    background-color: #635f5e;
}

#account-nav {
    position: absolute;
    top: 8px;
    right: 8px;
}

/* --------------------------------------------------------Footer */

#footer-content {
    background: url('/media/images/navbar-back-test.png'), #3c3a3b;
    min-height: 512px;
    color: whitesmoke;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

#footer-content a {
    color: whitesmoke;
}

.footer-heading {
    font-family: "Delicious Handrawn", cursive;
    font-size: 1.6rem;
    margin-bottom: 12px;
}

.footer-list>li {
    margin-bottom: 6px;
}

/* --------------------------------------------------------"Back To Top" button */

#to-top {
    background: url('/media/images/navbar-back-test.png'), #3c3a3b;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    position: fixed;
    right: 8px;
    bottom: -50px;
    transition: bottom 0.3s ease-out;
    padding: 2px;
    border-radius: 32px;
    display: flex;
    align-items: center;
}

#to-top>div {
    border: 2px solid whitesmoke;
    color: whitesmoke;
    padding: 4px 30px;
    border-radius: 32px;
    font-family: "Delicious Handrawn", cursive;
    font-size: 1.3rem;
}

#to-top.visible {
    bottom: 8px;
}

/* --------------------------------------------------------Modal */

.modal-content {
    background: url('/media/images/navbar-back-test.png'), #3c3a3b;
    border: 6px solid whitesmoke;
    border-radius: 64px;
    color: whitesmoke;
    font-size: 1.2em;
    padding: 8px;
    display: grid;
}

#modal-content-inner {
    border: 6px solid whitesmoke;
    border-radius: 48px;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 8px 16px;
}

#modal-content-inner>div {
    border: none;
}

.modal-header {
    font-family: "Just Another Hand", cursive;
}

.modal-header>* {
    font-size: 3em;
}

.modal-header span {
    color: white;
}

#form-signup-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* --------------------------------------------------------Pagination */

#pagination-container {
    border: 2px solid whitesmoke;
    padding: 4px;
    background: url('/media/images/navbar-back-test.png'), #3c3a3b;
    border-radius: 16px;
}

.pagination {
    border: 2px solid whitesmoke;
    border-radius: 12px;
    overflow: hidden;
}

.page-link {
    background: none;
    border: none;
    color: white;
}

.page-link:hover {
    color: #212529;
}

.page-item.active>.page-link {
    background-color: #784812;
}


/* --------------------------------------------------------Using a more formal font for forms */
form input,
button.btn,
a.btn,
#account-nav .dropdown-item {
    font-family: "Roboto", sans-serif;
}

/* -----------------------------------------------------------------------MEDIA QUERIES

/* --------------------------------------------------------Bootstrap's medium breakpoint */
@media (max-width: 768px) {
    #logo-brand {
        width: 20vw;
        top: calc(-50% - 10vw);
    }
}

/* --------------------------------------------------------Bootstrap's small breakpoint */
@media (max-width: 576px) {
    #logo-brand {
        width: 30vw;
        top: calc(-50% - 15vw);
        right: 0;
    }

    #hero-image {
        height: 128px;
    }
}