/* --------------------------------------------------------Base Template */
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

#hero-image {
    background-image: url('/media/images/hero-image-test.webp');
    background-position: top center;
    background-size: cover;
    height: 256px;
}

#main-body {
    background: #f8f5f1;
}

#main-content {
    background-color: white;
}

#navbar {
    background-image: url('/media/images/navbar-back-test.png');
    display: grid;
    grid-template-columns: 8fr 4fr 3fr 5fr 4fr auto;
}

.nav-link {
    color: white;
    font-family: "Delicious Handrawn", cursive;
    font-size: 1.6rem;
}

.nav-link:hover,
#footer-content a:hover {
    font-style: italic;
    text-decoration: underline;
    color: #DDDDDD;
}

#logo-container {
    position: relative;
}

#logo-brand {
    width: 15vw;
    aspect-ratio: 1/1;
    background: url('/media/images/bakery-logo.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: -6vw;
    right: 15%;
    z-index: 2;
}

/* --------------------------------------------------------Footer */

#footer-content {
    background: url('/media/images/navbar-back-test.png');
    height: 512px;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

#footer-content a {
    color: white;
}

.footer-heading {
    font-family: "Delicious Handrawn", cursive;
    font-size: 1.6rem;
    margin-bottom: 12px;
}

.footer-list>li {
    margin-bottom: 6px;
}