/* --------------------------------------------------------Product List */

.card {
    aspect-ratio: 1/1;
    display: grid;
    grid-template-rows: 1fr auto auto;
    transition: width 0.2s ease-in-out;
    width: 100%;
}

.card-container {
    width: 100%;
    aspect-ratio: 1/1;
}

.card-container:hover>.card {
    width: 95%;
}

.product-image {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product-image>img {
    min-width: 100%;
    min-height: 100%;
}

.product-card-category {
    position: relative;
    top: -12px;
}

.product-image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.2s ease-in-out;
}

.card-container:hover .product-image-overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

/* --------------------------------------------------------Product Details */

#product-properties {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

#add-to-favourites {
    font-size: 2rem;
}

#product-detail-category,
#product-detail-price {
    font-size: 1.5rem;
}

#product-detail-image {
    height: 480px;
    background-color: whitesmoke;
}

#product-detail-image>img {
    max-width: 100%;
    max-height: 100%;
}

/* --------------------------------------------------------Custom Property Inputs */

/* Button group input */

.btn-group-container {
    border: 3px solid whitesmoke;
    border-radius: 0.8rem;
    background: url('/media/images/ui-back.png');
    padding: 4px;
    display: inline-block;
}

.btn-group-toggle {
    border: 3px solid whitesmoke;
    border-radius: 0.4rem;
}

.btn-group-toggle>.btn:not(.disabled) {
    background: url('/media/images/ui-back.png');
    color: white;
    border: none;
    box-shadow: none;
}

.btn-group-toggle>.btn.active:not(.disabled) {
    background: none;
    background-color: #784812;
}

/* Color input */

.color-picker {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.color-list {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 6px 0;
    position: relative;
}

.color-list.animated {
    transition: left 0.4s ease-in-out;
}

.color-input {
    height: 70%;
    aspect-ratio: 1/1;
    border: 2px solid #ced4da;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin: 3px;
    cursor: pointer;
}

.color-input.animated {
    transition: height .2s ease-in-out;
}

.color-input.selected {
    height: 100%;
}

/* --------------------------------------------------------Quantity Selector Input */

#qty-selector,
.qty-input-group {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

#qty-selector>* {
    display: flex;
    align-items: center;
}

.qty-number {
    border-radius: 0;
}

.qty-add,
.qty-subtract {
    width: 38px;
}

.qty-add {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.qty-subtract {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* -----------------------------------------------------------------------MEDIA QUERIES

/* --------------------------------------------------------Bootstrap's extra-large breakpoint */
@media (max-width: 1200px) {
    
    #qty-selector {
        display: block;
    }
}