.card {
    aspect-ratio: 1/1;
    display: grid;
    grid-template-rows: 1fr auto auto;
}

.product-image {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-category {
    position: relative;
    top: -12px;
}