<footer class="container-fluid mt-5">
    <div class="row">
        <div id="footer-content" class="col-10 offset-1 px-5 py-4">
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-4">
                        <div class="footer-heading">Explore</div>
                        <ul class="list-unstyled footer-list">
                            <li>
                                <a href="">Home</a>
                            </li>
                            <li>
                                <a href="">All Bakery Products</a>
                            </li>
                            <li>
                                <a href="">Freshly Baked Bread</a>
                            </li>
                            <li>
                                <a href="">Sweets & Treats</a>
                            </li>
                            <li>
                                <a href="">Wedding/Party Cakes</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <div class="footer-heading">Useful Information</div>
                        <ul class="list-unstyled footer-list">
                            <li>
                                <a href="">About Us</a>
                            </li>
                            <li>
                                <a href="">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="">Contact Us</a>
                            </li>
                        </ul>
                        <br>
                        <br>
                        <div class="footer-heading">Follow Us On:</div>
                        <ul class="list-unstyled footer-list">
                            <li>
                                <a href="">Facebook</a>
                            </li>
                            <li>
                                <a href="">Instagram</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <div class="footer-heading">Sign Up for our Newsletter!</div>
                        <p class="small">You'll receive emails about new products, events
                            hosted by us and even get discounts on our products!</p>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="newsletter-email" class="mb-1">Email</label>
                                <input type="email" class="form-control rounded-0" placeholder="Email" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Sign Up!</button>
                        </form>
                    </div>
                </div>
            </div>
            <span>&copy; Bake It Up 2024</span>
        </div>
    </div>
</footer>