{% load crispy_forms_tags %}

<footer class="container-fluid mt-5">
    <div class="row">
        <div id="footer-content" class="col-12 col-md-10 offset-md-1 px-3 px-sm-4 px-lg-5 py-4">
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4 order-2 order-md-first mb-4 mb-lg-0">
                        <div class="footer-heading">Explore</div>
                        <ul class="list-unstyled footer-list">
                            <li>
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'product_list' %}">All Bakery Products</a>
                            </li>
                            <li>
                                <a href="{% url 'product_list' %}?category=bread">Freshly Baked Bread</a>
                            </li>
                            <li>
                                <a href="{% url 'product_list' %}?category=pastries">Sweets & Treats</a>
                            </li>
                            <li>
                                <a href="{% url 'product_list' %}?category=cakes">Wedding/Party Cakes</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 order-3 order-sm-3 order-lg-2 mb-4 mb-lg-0">
                        <div class="footer-heading">Useful Information</div>
                        <ul class="list-unstyled footer-list">
                            <li>
                                <a href="{% url 'home' %}#about-us">About Us</a>
                            </li>
                            <li>
                                <a href="">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="{% url 'store_contact' %}">Contact Us</a>
                            </li>
                        </ul>
                        
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 order-first order-sm-1 order-lg-3 mb-4 mb-lg-0">
                        <div class="footer-heading">Sign Up for our Newsletter!</div>
                        <p class="small">You'll receive emails about new products, events
                            hosted by us and even get discounts on our products!</p>
                        <form method="POST" action="{% url 'newsletter_signup' %}" id="newsletter-signup">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <div class="form-group">
                                <label for="newsletter-email">Email</label>
                                <input type="email" id="newsletter-email" name="email" class="form-control" maxlength="320" required>
                                {% if newsletter_error %}
                                    <div class="ui-error">{{ newsletter_error }}</div>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary shadow-none">Sign Up!</button>
                        </form>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 offset-lg-4 order-last mb-4 mb-lg-0">
                        <div class="footer-heading">Follow Us On:</div>
                        <ul class="list-unstyled footer-list">
                            <li>
                                <a href="" target="_blank" aria-label="Go yo our Facebook page (Opens in a new tab)">Facebook</a>
                            </li>
                            <li>
                                <a href="" target="_blank" aria-label="Go yo our Instagram page (Opens in a new tab)">Instagram</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <span>&copy; Bake It Up 2024</span>
        </div>
    </div>
</footer>