{% load crispy_forms_tags %}

<div class="modal fade" id="modal-action" tabindex="-1" aria-labelledby="modal-heading" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-content-inner">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-heading">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="modal-login-form" action="{% url 'account_login' %}" method="POST">
                  {% csrf_token %}
                  {{ login_form|crispy }}
                  <button type="submit" class="btn btn-primary">Log In</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary shadow-none" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary shadow-none">Okay</button>
              </div>
        </div>
      </div>
    </div>
  </div>