{% load crispy_forms_tags %}

<div class="modal{% if modal_show %} show-on-load{% if modal_load_fade %} fade{% endif %}{% else %} fade{% endif %}"
  id="modal-action" tabindex="-1" aria-labelledby="modal-heading" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content overflow-hidden position-relative">
      <form id="modal-content-inner" method="POST">
        {% csrf_token %}
        {% if login_custom_redirect %}
          <input type="hidden" name="login_custom_redirect" value="{{ login_custom_redirect }}" aria-hidden="true">
        {% endif %}
        <div class="modal-header">
          <h5 class="modal-title" id="modal-heading">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="modal-hidden-inputs" class="d-none" aria-hidden="true"></div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary shadow-none" data-dismiss="modal" aria-label="Cancel action">Cancel</button>
          <button id="modal-confirm" type="submit" class="btn btn-primary shadow-none" aria-label="Confirm action">Confirm</button>
        </div>
      </form>
      <div id="modal-load-overlay" class="hidden">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Forms to be copied into the modal when necessary -->
<div id="modal-forms" class="d-none" aria-hidden="true">
  <div id="modal-form-login" class="modal-form{% if modal_show == 'login' %} modal-form-load{% endif %}" data-url="{% url 'login' %}">
    <!-- Login form -->
    <input type="hidden" name="next" value="{{ request.path }}">
    <div class="form-group">
      <label for="id_login">E-mail</label>

      <input type="email" class="form-control" id="id_login" name="login"
        maxlength="320"{% if val_login %} value="{{ val_login }}"{% endif %} required>

      <div id="modal-login-feedback" class=" modal-feedback invalid-feedback ui-error"></div>
    </div>
    <div class="form-group">
      <label for="id_password">Password</label>
      <input type="password" class="form-control" id="id_password" name="password" required>
    </div>
    <div class="form-group">
      <div class="form-check pl-0">
        <input type="checkbox" name="remember" class="form-check-iniput" id="id_remember"{% if val_remember %} checked{% endif %}>
        <label for="id_remember"> Remember Me</label>
      </div>
    </div>
    <a href="{% url 'account_reset_password' %}">Forgot your password?</a>
  </div>

  <div id="modal-form-signup" class="modal-form{% if modal_show == 'signup' %} modal-form-load{% endif %}" data-url="{% url 'signup' %}">
    <!-- Signup form -->
    <input type="hidden" name="next" value="{{ request.path }}">
    <div id="form-signup-name">
      <div class="form-group mr-1">
        <label for="id_first_name">First Name</label>
        <input type="text" id="id_first_name" class="form-control" name="first_name"
          {% if val_first_name %} value="{{ val_first_name }}"{% endif %} maxlength="30">
      </div>
      <div class="form-group ml-1">
        <label for="id_last_name">Last Name</label>
        <input type="text" id="id_last_name" class="form-control" name="last_name"
          {% if val_last_name %} value="{{ val_last_name }}"{% endif %} maxlength="30">
      </div>
    </div>
    <div class="form-group">

      <label for="id_signup_email">E-mail*</label>
      <input type="email" id="id_signup_email" name="email" maxlength="320" class="form-control"
        {% if val_email %} value="{{ val_email }}"{% endif %} required>

      <div id="modal-email-feedback" class=" modal-feedback invalid-feedback ui-error"></div>
    </div>
    <div class="form-group">
      <label for="id_password1">Password*</label>
      <input type="password" name="password1" class="form-control" required id="id_password1">
      <div id="modal-password1-feedback" class=" modal-feedback invalid-feedback ui-error"></div>
    </div>
    <div class="form-group">
      <label for="id_password2">Password (again)*</label>
      <input type="password" name="password2" class="form-control" required id="id_password2">
      <div id="modal-password2-feedback" class=" modal-feedback invalid-feedback ui-error"></div>
    </div>
  </div>

  <div id="modal-form-payment" class="modal-form">
    <!-- Payment Form -->
    <span>Card Number</span>
    <div id="card-number"></div>
    <div class="mb-4 card-feedback ui-error" id="card-number-errors" role="alert"></div>
    <div id="card-expiry-cvc" class="mb-4">
      <div class="mr-2">
        <span>Expiration Date</span>
        <div id="card-expiry"></div>
        <div class="card-feedback ui-error" id="card-expiry-errors" role="alert"></div>
      </div>
      <div class="ml-2">
        <span>CVC</span>
        <div id="card-cvc"></div>
        <div class="card-feedback ui-error" id="card-cvc-errors" role="alert"></div>
      </div>
    </div>
    <span>Postal Code</span>
    <div id="card-postcode"></div>
    <div class="card-feedback ui-error" id="card-postcode-errors" role="alert"></div>
  </div>

  {% if modal_form_errors %}
    <div id="modal-errors" data-form="{{ modal_show }}">
      {{ modal_form_errors }}
    </div>
  {% endif %}
</div>