{% load custom_tags %}

<ul class="pl-3 pl-md-4 mb-0">
    {% for prop in item.prop_list %}
        {% if prop.answer and prop.answer != 'None' and prop.answer != 'Plain' and prop.answer != '#000000' %}
            <li>
                <span class="property-item">{% if prop.label %}{{ prop.label }}: {% endif %}
                    {% if prop.name == 'color' %}
                        <div class="d-inline-block prop-color ml-2"
                            data-back="{{ prop.answer }}" data-border="{% shade_color prop.answer 0.8 %}">
                            <div class="color-overlay"></div>
                        </div>
                    {% else %}{{ prop.answer }}
                    {% endif %}
                </span>
            </li>
        {% endif %}
    {% endfor %}
</ul>