.StripeElement {
    box-sizing: border-box;
    height: calc(2em + 2px);
    padding: .6rem .75rem;
    border: 1px solid #3c3a3b;
    border-radius: 0.25rem;
    background-color: white;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.InputElement {
    font-size: 1rem;
    font-weight: 400;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#card-expiry-cvc {
    display: grid;
    grid-template-columns: 1fr 1fr;
}