.StripeElement {
    box-sizing: border-box;
    height: calc(2em + 2px);
    padding: .6rem .75rem;
    border: 1px solid #3c3a3b;
    border-radius: 0.25rem;
    background-color: white;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #ffffff !important;
}

.InputElement {
    font-size: 1rem;
    font-weight: 400;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#card-expiry-cvc {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* --------------------------------------------------------Checkout Success */

#order-container {
    font-size: 1.1em;
    opacity: 0;
    position: relative;
    top: 128px;
    transition: opacity 1s ease-out,
                top 1s ease-out;
}

#order-container.shown {
    opacity: 1;
    top: 0;
}

.order-details,
.order-price {
    display: grid;
    grid-template-columns: 1fr 2fr;
    word-break: break-word;
}

.detail-value {
    text-align: right;
}

.order-product-info button {
    font-size: inherit;
}


/* -----------------------------------------------------------------------MEDIA QUERIES

/* --------------------------------------------------------Bootstrap's large breakpoint */
@media (max-width: 992px) {
    #order-container {
        font-size: 1rem;
    }
}

/* --------------------------------------------------------Bootstrap's medium breakpoint */

@media (max-width: 768px) {
    .order-details {
        display: block;
    }

    .detail-key {
        font-weight: bold;
    }

    .detail-value {
        text-align: left;
        margin-bottom: 12px;
    }
}