{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extra_title %} - {{ product.display_name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div id="product-properties" class="col-12 col-md-10 col-lg-5 offset-md-1 pl-md-0">
                <div>
                    <div class="d-flex align-items-start justify-content-between">
                        <h1 class="mb-0">{{ product.display_name }}</h1>
                        {% if user.is_authenticated %}
                            <a href="{% url 'add_to_favorites' product.name %}" class="text-dark">
                                <i id="add-to-favourites" class="fa-{% if user.profile in product.favorites.all %}solid{% else %}regular{% endif %} fa-heart mt-4"></i>
                            </a>
                        {% else %}
                            <i id="add-to-favourites" class="fa-regular fa-heart mt-4"></i>
                        {% endif %}
                    </div>
                    <div id="product-detail-category" class="d-flex align-items-center justify-content-between">
                        <span>{{ product.category }}</span>
                        {% if product.batch_size > 1 %}
                            <small>
                                <i class="fa-solid fa-box"></i>
                                {{ product.batch_size }} Pack
                            </small>
                        {% endif %}
                    </div>
                    <div class="text-muted mb-4">
                        <i class="fa-solid fa-heart"></i>
                        {% with product.number_of_favorites as num_fav %}
                        <span id="num-favourites">{{ num_fav }} {% if num_fav == 1 %}person{% else %}people{% endif %} added this to their favourites</span>
                        {% endwith %}
                    </div>
                    <div>
                        <span>Ingredients:</span>
                        <div id="ingredients" class="mb-2">{{ product.ingredients }}</div>
                        <div>
                            <small class="text-muted">*All allergens are highlighted in <strong>bold</strong>.</small>
                        </div>
                    </div>
                    <hr>
                    <div id="product-image-mobile" class="d-block d-lg-none"></div>
                </div>
                <form class="d-flex flex-column justify-content-between" method="POST" action="{% url 'add_to_cart' product.name %}">
                    {% csrf_token %}
                    <!-- Custom properties -->
                    <div class="mb-5">
                        {{ prop_form|safe }}
                        {% if product.prop_text %}
                            <div class="form-group">
                                <label for="prop-text" class="mb-0">Text</label>
                                <textarea name="prop_text" id="prop-text" class="form-control" rows="2" maxlength="40"></textarea>
                            </div>
                        {% endif %}
                    </div>
                    <!-- Form footer -->
                    <div>
                        <div class="small text-right">Unit Price: &euro;{{ product.price }}</div>
                        <div id="product-detail-price" class="text-right font-weight-bold">Total: &euro;
                            <span id="total-price">{{ product.price }}</span>
                        </div>
                        <div id="qty-selector">
                            <label for="product-quantity" class="mb-0"><strong>Quantity:</strong></label>
                            <div class="mx-xl-3 mb-3 mb-xl-0">
                                <div class="qty-input-group w-100">
                                    <button type="button" class="btn btn-dark qty-subtract">-</button>

                                    <input type="number" id="product-quantity" class="form-control qty-number text-right"
                                        name="quantity" value="1" min="1" max="99"
                                        data-price="{{ product.price }}" data-update="#total-price">

                                    <button type="button" class="btn btn-dark qty-add">+</button>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-lg btn-primary">Add to Cart</button>
                        </div>
                        {% if user.is_superuser %}
                            <div class="mt-3">
                                <a href="{% url 'edit_product' product.name %}" class="text-info mr-3">Edit Product</a>
                                <a class="text-danger modal-trigger-delete-product"
                                    role="button" data-url="{% url 'delete_product' product.name %}">Delete Product</a>
                            </div>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div id="product-image-desktop" class="d-none d-lg-block col-5">
                <div id="product-image-container">
                    <div id="product-detail-image" class="d-flex align-items-center justify-content-center">
                        <img src="{{ product.image.url }}" alt="{{ product.display_name }}">
                    </div>
                    <div class="mt-3 contains-query">{{ product.description }}</div>
                    <hr class="d-lg-none">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'products/js/products.js' %}" type="text/javascript"></script>
    {{ block.super }}
{% endblock %}