{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extra_title %} - Products{% endblock %}

{% block content_heading %}
    <h1>Our Products</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form action="{% url 'product_list' %}" method="GET" class="row mt-3">
            <div class="col-10 col-md-4 col-xl-3 form-group">
                <label for="product-category" class="mb-1">Category</label>
                <select id="product-category" name="category" class="form-control" onchange="$(this).closest('form').submit();">
                    <option value="all" {% if category == 'all' %} selected{% endif %}>All</option>
                    <option value="bread" {% if category == 'bread' %} selected{% endif %}>Breads</option>
                    <option value="pastries" {% if category == 'pastries' %} selected{% endif %}>Sweets & Treats</option>
                    <option value="cakes" {% if category == 'cakes' %} selected{% endif %}>Cakes</option>
                </select>
            </div>
            <div class="col-10 col-md-4 col-xl-3 form-group">
                <label for="product-sort" class="mb-1">Sort</label>
                <select id="product-sort" name="sort" class="form-control" onchange="$(this).closest('form').submit();">
                    <option value="-favourites" {% if sort == '-favourites' %} selected{% endif %}>Most Liked</option>
                    <option value="favourites" {% if sort == 'favourites' %} selected{% endif %}>Least Liked</option>
                    <option value="price" {% if sort == 'price' %} selected{% endif %}>Price (Lowest to Highest)</option>
                    <option value="-price" {% if sort == '-price' %} selected{% endif %}>Price (Highest to Lowest)</option>
                    <option value="name" {% if sort == 'name' %} selected{% endif %}>A-Z</option>
                    <option value="-name" {% if sort == '-name' %} selected{% endif %}>Z-A</option>
                </select>
            </div>
        </form>
        <hr class="my-4">
        <div class="row">
            {% for product in products %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                    <a class="card-container d-flex align-items-center justify-content-center anchor-no-style"
                        href="{% url 'product_detail' product.name %}">
                        <div class="card">
                            <div class="product-image">
                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.display_name }}">
                                <div class="product-image-overlay"></div>
                            </div>
                            <div class="card-body px-2 py-0">
                                <p class="product-card-title mb-0">{{ product.display_name }}</p>
                                <p class="product-card-category my-0">
                                    <small class="d-flex align-items-center justify-content-between">
                                        <span>{{ product.category }}</span>
                                        {% if product.batch_size %}
                                            <span>
                                                <i class="fa-solid fa-box"></i>
                                                {{ product.batch_size }}
                                            </span>
                                        {% endif %}
                                    </small>
                                </p>
                            </div>
                            <div class="card-footer px-2 py-1 d-flex align-items-center justify-content-between">
                                <small>
                                    <i class="fa-regular fa-heart"></i> 0
                                </small>
                                <strong>&euro;{{ product.price }}</strong>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'includes/pagination.html' %}
{% endblock %}